name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  test_and_lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache/Restore Mint packages
        id: mint-cache
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/mint
          key: ${{ runner.os }}-mint-${{ hashFiles('**/Mintfile') }}
          restore-keys: ${{ runner.os }}-mint-

      - name: Install package manager "Mint"
        run: |
          brew upgrade mint || brew install mint || true

      - name: Install command line tool (if not yet cached)
        if: steps.mint-cache.outputs.cache-hit != 'true'
        run: mint bootstrap

      - name: Run SwiftFormat lint
        run: mint run swiftformat --lint .

      - name: Set up Python 3.9.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.12

      - name: Install devnet
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run devnet # Temporary solution until we have the DevnetClient working
        run: |
          starknet-devnet --seed 0 &
        env:
          PORT: 5050

      - name: Run tests
        run: |
          swift test
